section {
    padding-bottom: 25px;
    padding-left: 10px;
}
  
.title-info {
    margin-bottom: 5px;
}

.tbl {
    margin-bottom: 10px;
}

.field-exported {
    width: 90%;
    height: 250px;
    overflow: auto;
    border: 1px solid #7f7f80;
    font-size: 12px;
}

.filter-criteria {
    text-align: center;
    font-size: 20px;
    color: #7f7f80;
    padding-top: 30px;
    width: 90%;
}
  