<div class="top_nav">
  <div class="nav_menu row">
    <div class="col-md-4">
      <h6 class="title">Catcher / Domain Hits</h6>
      <h4 class="sub_title">Domain Hits</h4>
    </div>
    <div class="col-md-8 functions">
      <div class="function" (click)="selectMenu(5)" [ngClass]="{'selected':selected == 5}" placement="right" ngbTooltip="Manage Account Tag"><a><fa-icon icon="tags" ></fa-icon></a></div>
      <div class="function" (click)="selectMenu(3)" [ngClass]="{'selected':selected == 3}" placement="right" ngbTooltip="EUI Export History"><a><fa-icon icon="file-export" ></fa-icon></a></div>
    </div>
  </div>
  <div class="nav_button">

  </div>
</div>
