.top_nav {
  display: inline-block;
  position: fixed;
  margin-left: 51px;
  z-index: 9;
  width: 100%;
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  padding-bottom: 15px;
  padding-top: 15px;
}
.nav_menu {
  margin-left: 0;
  position: relative;
}
.nav_button {
  margin-left: 0;
}
.title {
  color: cornflowerblue;
}
.functions {
  display: inline-flex;
  justify-content: flex-end;
  right: 90px;
}
.function {
  width: 40px;
  height: 32px;
  padding: 3px;
  border-radius: 4px;
  color: cornflowerblue;
}
.function:hover {
  background: #b2d1ff;
}

.function fa-icon {
  font-size: 18px;
}
.selected {
  background: cornflowerblue;
  color: white;
}
.export-option {
  height: 32px;
}
.btn {
  border: 1px solid cornflowerblue;
}
.search-ip {
  margin-left: 40px !important;
}
.filter {
  margin: 3px;
}
