.top_nav {
  display: inline-block;
  position: fixed;
  margin-left: 51px;
  z-index: 9;
  width: 100%;
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  padding-bottom: 15px;
  padding-top: 15px;
}
.nav_menu {
  margin-left: 0;
  position: relative;
}
.nav_button {
  margin-left: 0;
}
.title {
  color: cornflowerblue;
}
.functions {
  display: inline-flex;
  justify-content: flex-end;
  right: 90px;
}
.function {
  width: 32px;
  height: 32px;
  padding: 3px;
  border-radius: 4px;
  color: cornflowerblue;
}
.export-func {
  margin: 0 8px 0 2px;
  border: 1px solid #ccc;
  color: #333;
}
.function:hover {
  background: #b2d1ff;
}

.function fa-icon {
  font-size: 18px;
}
.selected {
  background: cornflowerblue;
  color: white;
}
.export-option {
  height: 32px;
}
.btn {
  border: 1px solid cornflowerblue;
}
.search-ip {
  margin-left: 40px !important;
}
.filter {
  margin: 3px;
}

.date-picker {
  margin-left: 30px;
  width: 180px;
}

.bar-eui-export-history>button {
  width: 120px;
  height: 30px;
  font-size: 12px
}
.bar-eui-export-history>.search-ip {
  width: 300px;
}

.bar-catcher-email-history>button {
  width: 120px;
  height: 30px;
  font-size: 12px
}

.bar-catcher-email-history>.search-ip {
  width: 300px;
}

.bar-catcher-email-history>.date-picker {
  display: inline;
}

.bar-catcher-email-history>.date-picker>.date-input {
  display: inline-block;
}

.bar-catcher-email-history>.date-picker>.date-input>input {
  display: inline;
  width: 180px;
  height: 30px;
}

.bar-catcher-email-history>.date-picker>.date-input>span>fa-icon {
  margin-left: 5px;
  padding-top: 2px;
}

.bar-eui-export-history>.date-picker {
  display: inline;
}

.bar-eui-export-history>.date-picker>.date-input {
  display: inline-block;
}

.bar-eui-export-history>.date-picker>.date-input>input {
  display: inline;
  width: 180px;
  height: 30px;
}

.bar-eui-export-history>.date-picker>.date-input>span>fa-icon {
  margin-left: 5px;
  padding-top: 2px;
}

.bar-usage-track>.date-picker {
  display: inline;
}

.bar-usage-track>.date-picker>.date-input {
  display: inline-block;
}

.bar-usage-track>.date-picker>.date-input>input {
  display: inline;
  width: 180px;
  height: 30px;
}

.bar-usage-track>.date-picker>.date-input>span>fa-icon {
  margin-left: 5px;
  padding-top: 2px;
}

.bar-usage-track>button {
  width: 120px;
  height: 30px;
  font-size: 12px
}