<div class="catcher-email-history-detail">
  <nav>
    <ul>
      <li><a href="#">Details</a></li>
      <li><a href="#">Email Content</a></li>
      <li><a href="#">IP Scan</a></li>
    </ul>
  </nav>
  <div class="sub-content">
    <div class="header-info">
        <b>Email Information</b>
    </div>
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          Recieved:
        </div>
        <div class="tbl-cell">
          {{ entity.receivedDate }}
        </div>
      </div>
    </div>
  </div>
</div>
