
.person-rest-api .action-group {
    margin-left: 45%;
}

.person-rest-api .action-group button {
        margin-left: 20px;
    }

.person-rest-api h1,
.person-rest-api h2 {
    text-align: center;
}
