.side-bar {
  width: 64px;
  height: 100vh;
  text-align: center;
  border-right: solid 1px #AAAAAA;
  box-shadow: #AAAAAA;
  padding: 10px 0;
}
.function {
  width: 40px;
  height: 32px;
  margin: 20px 10px;
  padding: 3px;
  border-radius: 4px;
}
.function:hover {
  background: #b2d1ff;
}

.function fa-icon {
  font-size: 18px;
}
.selected {
  background: cornflowerblue;
  color: white;
}
