
<div id="content" role="main" class="person-rest-api">
  <br>
  <br>
  <br>
  <div class="container colset-2-its">
    <div>
        <ngx-datatable
           class="material"
           [rows]="domainHits.data"
           [columns]="domainHits.columns"
           [headerHeight]="50"
           [footerHeight]="50"
           [rowHeight]="'auto'"
           [loadingIndicator]="loading"
           ></ngx-datatable>
    </div>
<ng-template #hdrTpl let-column="column" let-sort="sortFn">
<div 
  class="header-sort-span">
  {{column.name}}
</div>
<div class="header-filter-span">
  <input 
    type="text" />
</div>
</ng-template>
</div>
</div>
